@font-face {
    font-family: "oswald-reg";
    src: url("./assets/fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: "oswald-light";
    src: url("./assets/fonts/Oswald-Light.ttf");
}
@font-face {
    font-family: "oswald-extra-light";
    src: url("./assets/fonts/Oswald-ExtraLight.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "oswald-light";
}

p,
span,
a,
li {
    font-family: "oswald-extra-light";
}

li {
    list-style-type: none;
    font-size: 1.15rem;
}

.section {
    max-height: 435px;
    /* display: flex; */
}

.icon:hover {
    cursor: pointer;
}

/* ==== FIRST SECTION STYLES ==== */
#section-container {
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    flex-flow: column;
}

.first-section-header-content {
    font-size: 3.5rem;
}

.second-section-content {
    display: flex;
}

/* ==== NAV STYLES ==== */
.nav-container {
    position: fixed;
    right: 2.5%;
    max-height: 600px;
}

.desktop-nav {
    border: 2px solid black;
    height: 450px;
    width: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: column; */
    /* align-items: center; */
}