@font-face {
    font-family: "oswald-reg";
    src: url("./assets/fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: "oswald-light";
    src: url("./assets/fonts/Oswald-Light.ttf");
}
@font-face {
    font-family: "oswald-extra-light";
    src: url("./assets/fonts/Oswald-ExtraLight.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "oswald-light";
}

p,
span,
a,
li {
    font-family: "oswald-extra-light";
}

a {
    color: black;
}

li {
    list-style-type: none;
    font-size: 1.15rem;
}

.section {
    max-height: 435px;
    /* display: flex; */
}

.icon:hover {
    cursor: pointer;
}

/* ==== FIRST SECTION STYLES ==== */
#section-container {
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    flex-flow: column;
}

.first-section-header-content {
    font-size: 3.5rem;
}

.second-section-content {
    display: flex;
}

/* ==== NAV STYLES ==== */
.nav-container {
    position: fixed;
    right: 2.5%;
    max-height: 600px;
}

.desktop-nav {
    border: 2px solid black;
    height: 450px;
    width: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: column; */
    /* align-items: center; */
}

.mobile-container {
    position: fixed;
    right: 2.5%;
    bottom: 2.5%;
}

#third-header {
    font-size: 3.5rem;
}

#fourth-header {
    font-size: 3.5rem;
}

/* ==== MOBILE NAV STYLES ==== */

#overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: rgba(229, 229, 229, .75);
    display: none;
}

#minus-circle {
    display: none;
}

.mobile-icons-container {
    display: none;
    flex-direction: column;
}

.mobile-icon {
    padding-bottom: 1rem;
}

#tree-image {
    max-height: 450px;
}

#skills-container {
    padding: 0 3rem;
    align-self: center;
}

#project-2 {
    text-align: right; 
}

@media all and (max-width: 480px) { 
    body {
        background-image: url('./assets/images/mobile-bg-1.jpg');
    }
    .first-section-header-content {
        font-size: 2rem;
    }
    .second-section-content > p {
        font-size: 1.5rem;
    }
    #third-header {
        font-size: 2.25rem;
    }
    #fourth-header {
        font-size: 2.25rem;
    }
}

@media all and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-container {
        display: block;
    }
    .first-section-header-content {
        font-size: 2.5rem;
    }
    #first-section img {
        width: 65%;
    }
    .second-section-content {
        margin-top: 1rem;
        flex-direction: column;
    }
    #tree-image {
        max-height: 75vh;
        margin: 0 auto;
        max-width: 80vw;
    }
    .second-section-content div {
        padding: 0
    }
    #skills-container {
        padding: 1rem 0;
    }
    .project-row {
        flex-direction: column-reverse;
    }
    .project {
        text-align: left;
    }
}

@media all and (min-width: 769px) {
    .desktop-nav {
        display: block;
    }
    .mobile-container {
        display: none;
    }
}